.header {
  width: 100%;
  height: 75px;
  background: #FFFFFF;
  border-bottom: 1px solid #E1E2E8;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header > div:first-of-type {
    height: 100%;
    width: 75px;
    border-right: 1px solid #EAEBEE; }
  .header > div:not(:first-of-type) {
    display: flex;
    align-items: center; }
    .header > div:not(:first-of-type) > p {
      margin-right: 30px; }
    .header > div:not(:first-of-type) > a {
      margin-right: 30px;
      text-decoration: underline;
      cursor: pointer; }

.post-list {
  display: flex;
  flex-direction: column;
  width: 600px; }
  .post-list > div {
    height: 85px;
    width: 100%;
    padding: 20px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white; }
    .post-list > div > h3 {
      font-weight: 300;
      cursor: pointer; }
      .post-list > div > h3:hover {
        text-decoration: underline; }
    .post-list > div > div:first-of-type > span {
      font-size: 14px;
      margin-right: 8px; }
      .post-list > div > div:first-of-type > span > i {
        margin-right: 4px; }
      .post-list > div > div:first-of-type > span:first-of-type {
        color: #78A8EE; }
      .post-list > div > div:first-of-type > span:last-of-type {
        color: #54B088; }
        .post-list > div > div:first-of-type > span:last-of-type.downvoted {
          color: #EF7D75; }
        .post-list > div > div:first-of-type > span:last-of-type.no-votes {
          color: #A4B3C1; }
    .post-list > div > div:last-of-type {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .post-list > div > div:last-of-type > div {
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        border: 1px solid #FCE7B4;
        background-color: #FFF3D6;
        color: #D6BA79;
        border-radius: 3px;
        font-size: 11px;
        font-weight: 300;
        cursor: pointer; }
        .post-list > div > div:last-of-type > div:hover {
          border: 1px solid #C2A050;
          background-color: #D6BA79;
          color: #FFF3D6; }
      .post-list > div > div:last-of-type > p {
        color: #A4B3C1;
        font-size: 11px;
        font-weight: 300; }
        .post-list > div > div:last-of-type > p > span {
          color: #768BA0;
          font-weight: 400;
          text-decoration: underline;
          cursor: pointer; }

.post-list {
  display: flex;
  flex-direction: column;
  width: 600px; }
  .post-list > div {
    height: 85px;
    width: 100%;
    padding: 20px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white; }
    .post-list > div > h3 {
      font-weight: 300;
      cursor: pointer; }
      .post-list > div > h3:hover {
        text-decoration: underline; }
    .post-list > div > div:first-of-type > span {
      font-size: 14px;
      margin-right: 8px; }
      .post-list > div > div:first-of-type > span > i {
        margin-right: 4px; }
      .post-list > div > div:first-of-type > span:first-of-type {
        color: #78A8EE; }
        .post-list > div > div:first-of-type > span:first-of-type.no-comments {
          color: #A4B3C1; }
      .post-list > div > div:first-of-type > span:last-of-type {
        color: #54B088; }
        .post-list > div > div:first-of-type > span:last-of-type.downvoted {
          color: #EF7D75; }
        .post-list > div > div:first-of-type > span:last-of-type.no-votes {
          color: #A4B3C1; }
    .post-list > div > div:last-of-type {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .post-list > div > div:last-of-type > div {
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        border: 1px solid #FCE7B4;
        background-color: #FFF3D6;
        border-radius: 3px;
        color: #D6BA79;
        font-size: 11px;
        font-weight: 300; }
      .post-list > div > div:last-of-type > span {
        color: #A4B3C1;
        font-size: 11px;
        font-weight: 300; }
