.post-list {
	display: flex;
	flex-direction: column;
	width: 600px;
	> div {
		height: 85px;
		width: 100%;
		padding: 20px;
		margin-bottom: 2px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		background-color: white;
		> h3 {
			font-weight: 300;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		> div:first-of-type {
			> span{ 
				font-size: 14px;
				margin-right: 8px;
					> i {
					margin-right: 4px;
				}
				&:first-of-type {
					color: #78A8EE;
					&.no-comments {
						color:#A4B3C1;
					}
				}
				&:last-of-type {
					color: #54B088;
					&.downvoted {
						color:#EF7D75;
					}
					&.no-votes {
						color:#A4B3C1;
					}
				}
			}
		}
		> div:last-of-type {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			> div {
				height: 18px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 4px;
				border: 1px solid #FCE7B4;
				background-color: #FFF3D6;
				border-radius: 3px;
				color: #D6BA79;
				font-size: 11px;
				font-weight: 300;
			}
			> span {
				color: #A4B3C1;
				font-size: 11px;
				font-weight: 300;
			}
		}
	}
}