.post-details {
	width: 600px;
	padding: 20px 20px 20px 0;
	background-color: white;
	display: flex;
	> div:first-of-type {
		width: 12.5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		> i {
			font-size: 35px;
			color: #E0E4E7;
			line-height: 15px;
			cursor: pointer;
			&:first-of-type {
				margin-top: 15px;
				&:hover {
				color: #54B088;
				}
			}
			&:last-of-type:hover {
			color: #EF7D75;
			}
		}
		> h1 {
			font-size: 35px;
			color: #78A8EE;
			font-weight: 500;
		}
	}
	> div:last-of-type {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		> h2 {
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 10px;
		}
		> div:first-of-type {
			font-size: 12px;
			color: #bcc2c4;
			span { 
				color: #59b2db;
				cursor: pointer;
				text-decoration: underline;
			}
		}
		> div:nth-of-type(2) {
			height: 18px;
			margin: 10px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 4px;
			border: 1px solid #FCE7B4;
			background-color: #FFF3D6;
			border-radius: 3px;
			color: #D6BA79;
			font-size: 11px;
			font-weight: 300;
		}
		> hr {
			width: 100%;
			border: none;
			border-top: 1px dashed #E0E4E7;
			height: 1px;
			color: white;
			background-color: white;
			margin: 5px 0 15px 0;
		}
		> p {
			font-size: 13px;
			line-height: 18px;
			margin-bottom: 20px;
			text-align: justify;
		}
		> h3 {
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 5px;
		}
		> div:last-of-type {
			display: flex;
			flex-direction: column;
			width: 100%;
			> div {
				display: flex;
				margin-bottom: 20px;
				> div:first-of-type {
					width: 60px;
					margin: 0 5px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					> i {
						font-size: 25px;
						color: #E0E4E7;
						line-height: 15px;
						cursor: pointer;
						&:first-of-type {
							margin-top: 5px;
							&:hover {
							color: #54B088;
							}
						}
						&:last-of-type:hover {
						color: #EF7D75;
						}
					}
					> p {
						font-size: 20px;
						color: #78A8EE;
						font-weight: 500;
					}
				}
				> div:last-of-type {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					> p {
						font-size: 13px;
						line-height: 18px;
						&:first-of-type {
							color: #98A5A5;
							margin-bottom: 5px;
							> span {
								color: #59b2db;
								cursor: pointer;
							}
						}
					}
				}
			} 
			> textarea {
				height: 18px; 
				font-size: 13px;
				padding: 8px; 
				resize: none;
				border: 2px solid rgb(245, 245, 245)
			}
			> button {
				color: white;
				background-color: #59b2db;
				border: 0;
				margin-top: 8px;
				border-radius: 5px;
				padding: 10px 10px;
				width: 55px;
				align-self: flex-end;
				&:active {
					background-color: #389ACA;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
}